* {
  box-sizing: border-box;
}

html {
  font-family:Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

hr{
  margin-top: 5%;
  margin-bottom: 3%;
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  font-size: 50px;
  background-color: white;
  color: red;
  text-align: center;
}

header h1{
  -webkit-animation: fadeIn 1s infinite alternate;
  animation: fadeIn 1s infinite alternate;
}

#assignment {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  padding-bottom: 5%;
}

#assignment h2 {
  margin-bottom: 7%;
  font-size: 4rem;
  color: rgb(5, 38, 186);
  animation: rotation 3s infinite linear;
  /* margin: 0 0 1rem 0; */
  -webkit-text-stroke: 3px yellow;
  /* text-stroke: 3px yellow; */
}

.message-wrapper{
  position: relative;
  left: 50%;
  border-radius: 20px 20px 0 20px;
  background-color: #2f5d59;
  padding: 1px 5px;
  width: 20em;
  height: 20em;
  margin: 0;
  box-shadow: 3px 3px 4px black;
  cursor: text;
  word-wrap: break-word;
}

#assignment p {
  /* font-size: 1.25rem; */
  /* padding: 0.1rem; */
  color: white;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

#assignment input {
  width: 50%;
  height: 200px;
  text-align: center;
  font: inherit;
  border: 1px solid #ccc;
}

#assignment input:focus {
  outline: none;
  border-color: #1b995e;
  background-color: #fdfcd7;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}